<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Lunch & Learn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <ul>
            <li>
                @Html.ActionLink("Snapshot", "Snapshot", "Home")
            </li>
            <li>
                @Html.ActionLink("P2P Video/Audio", "P2PVideoAudio", "Home")
            </li>
            <li>
                @Html.ActionLink("P2P Video/Audio Multiple", "P2PVideoAudioMultiple", "Home")
            </li>
            <li>
                @Html.ActionLink("P2P Data - TODO!", "P2PData", "Home")
            </li>
        </ul>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
